<h1>Editing user</h1>

<%= render :partial=>'form',  :object=>@user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> |

<a href="//gravatar.com/emails" target="_blank">change gravatar</a>
<br>
<br>
<a href="//gravatar.com/emails" target="_blank"
  <%=link_to avatar_url(@user,30)%>
</a>



