<h1>Micropost Application</h1>
<p>this is the home page for the micropost application</p>
<%= link_to "Sign up now!", signup_path(:protocal=>"https"), 
  :class => "signup_button round" %>
<br>
<%=logo_sign_up "signup.png"%>
