<h1>Pages#home</h1>
<%unless signed_in?   %>
<%= link_to "Sign up now!", signup_path(:protocal=>"https"), 
  :class => "signup_button round" %>
<br>
<%=logo_sign_up "signup.png"%>
<%end %>
<p>Find me in app/views/pages/home.html.erb</p>
