@import 'utility';
//variables
$left-side-color: #fff;
$right-side-color: #fff;
$center-panel-color:#222;
$min-height:600px;
$min-height-header:150px;
$link-color:#FFF;
//#4c7d7e
//
//mixins
@mixin menu{
  list-style-type:none;
  display:inline-block;
}
#notice{
  background:#111;
  color:#FFF;
  border: 1px #FFF solid;
}
#success{
  background:#111;
  color:#FFF;
  border: 1px #FFF solid;
}

#error{
  background:#111;
  color:#FFF;
  border: 1px #FFF solid;
}
.header-menu a{
  color:$link-color;
  text-decoration:none;
}

.header-menu a:hover{
  padding-top:20px;
  color:$link-color;
}

.header-menu a:active{
  padding-top:20px;
  color:$link-color;
}

//css
.filler-side{
  background: $left-side-color;
  min-height: $min-height;
}
.menu-side{
  background: $right-side-color;
  min-height: $min-height;
}
.center-panel{
  background:$center-panel-color;
  min-height:580px; 
  text-align:center;
  margin:1px;
  color: #eee;
  @include rounded-corners(10px);
  @include shadow-outer 
}
.inner-center-panel{
  background:#EEE;
  @include shadow-inner;
  color:#111;
  min-height:560px;
  text-align:center;
  margin:10px;
  margin-bottom:20px;
}
.header{
  min-height:$min-height-header;
  background: url("carbon.png");
  margin-bottom:20px;
  text-align:center;
}
nav{
  float:right;
}
nav ul{
  padding:0;
  margin:0;
}
nav ul li{
  @include menu
}
footer{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  background: url('carbon.png');
  color:#FFF;
}
.footer {
  max-width:200px;
  margin: auto 0;
  margin-bottom:20px;
  
}
footer ul{
  padding-bottom:20px;
}

footer ul li{
  @include menu;
   color: #FFF;
}
footer  li a:visited {
  text-decoration:none;
   color: #ffe;
}
footer  li a:active {
  text-decoration:none;
   color: #eee;
}
footer a{
  text-decoration:none;
  padding:8px;
   color: $link-color;
}

.menu-side{
  margin: auto 0;
  padding-top: 20px;
  padding-left:8px;
  border: 1px solid #CCC;
  color:#111;
}
.menu-side a{
  text-decoration:none;
  color:$link-color;
}
.menu{
  background:#CCC;
  border: 1px white solid;
  margin:20px;
  padding:8px;
  @include shadow-inner;
  @include rounded-corners(4px);
}
#error_explaination{
  max-width:400px;
}
